@media print {
  body * {
    visibility: hidden;
  }
  
  .sign-preview *{
    visibility: visible!important;
    -webkit-print-color-adjust: exact;
    page-break-inside: avoid;
    margin-right: -5px;
  }

  .sign-preview div{
    border: 2px solid #ededed;
  }

  .container {
    padding: 32px;
    width: 100%;
  }
}
