@media print {
  body * {
    visibility: hidden;
  }
  
  .sign-preview *{
    visibility: visible!important;
    zoom: normal;
    -webkit-print-color-adjust: exact;
  }

  .sign-preview div{
    border: 2px solid #ededed;
  }
}
