<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="{{ '/assets/js/default.js' | relative_url }}"></script>
  </head>
  <body>

    <header role="banner">
      <div id="header">
        <div id="site-logo"></div>
      </div>
      <div id="topbar">
        <div id="search-bar">
          <div id="search-left-half">
              <span id="search-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                      <path d="M511.256 466.306L371.179 326.229a2.542 2.542 0 0 0-3.595 0l-11.513 11.512c31.591-35.855 50.786-82.878 50.786-134.312C406.856 91.26 315.6.001 203.428.001 91.257.001 0 91.26 0 203.43s91.257 203.426 203.428 203.426c51.432 0 98.457-19.196 134.314-50.783l-11.513 11.512a2.543 2.543 0 0 0 0 3.595l140.076 140.074a2.545 2.545 0 0 0 3.596 0l41.353-41.352a2.541 2.541 0 0 0 .002-3.596zm-307.828-92.508c-93.942 0-170.371-76.428-170.371-170.369s76.428-170.37 170.371-170.37c93.942 0 170.371 76.428 170.371 170.37S297.37 373.798 203.428 373.798z"></path>
                  </svg>
              </span>
          </div>
          <div>
              <input id="search-right-half" placeholder="Search" maxlength="100" type="text">
          </div>
        </div>
      </div>
    </header>
   
    <main id="content" class="main-content" role="main">
      <div id="sidebar-container">
        <ul class="nav" id="sidebar">
          <li class="tab">
            <a href="#/dashboard">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M422 496H304V384c0-8.8-7.2-16-16-16h-64c-8.8 0-16 7.2-16 16v112H90c-5.5 0-10-4.5-10-10V272H32.6c-5.5 0-10.8-2.6-13.8-7.2-4.3-6.5-3.2-14.9 2.1-20.1L244.7 21.6c6.2-6.2 16.3-6.2 22.6 0l223.9 223.1c4.6 4.6 6 11.5 3.5 17.4s-8.3 9.9-14.8 9.9H432v214c0 5.5-4.5 10-10 10zm-86-32h59c2.8 0 5-2.2 5-5V272c0-17.6 14.4-32 32-32h9.2L256 55.5 70.8 240H80c17.6 0 32 14.4 32 32v187c0 2.8 2.2 5 5 5h59v-80c0-26.5 21.5-48 48-48h64c26.5 0 48 21.5 48 48v80z"></path><circle cx="256" cy="224" r="32"></circle></svg>
              Dashboard
            </a>
          </li>
          <li class="tab">
            <a href="#/Stock Tracker">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.7 25.7"><path d="M19.8 11.2l-6.3-7.7c-.4-.6-.8-.6-1.3 0L6 11.2H-.2v1.6h1.6l3.3 9.8H21l3.3-9.8h1.6v-1.6h-6.1zm-7-5.9l4.8 5.9H8.1l4.7-5.9zM19.9 21h-14l-2.7-8.1h19.5L19.9 21z"></path><path d="M8.3 16.2h9v1.1h-9z"></path></svg>
              Stock Tracker
            </a>
          </li>
        </ul>
      </div>
    </main>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>

